<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
    
    <div class="container">

        <div class="card" id="form-ask">
            <div class="card-header">
                <h3>Realizar registro</h3>
            </div>
            <div class="card-body">        
                <form action="/salvarpergunta" method="post">
                    <label for="titulo">Título</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                    
                    <br><label for="description">Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="description"></textarea>
                    
                    <br><button class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>

    </div>

<%- include('partials/footer.ejs') %>